<div class="footer-box">
<div class="footer-content">
<h3 itemprop="name">Profil</h3>
<ul>
<li><a href="../company/about.html" title="Tentang Kami">Tentang kami</a></li>
<li><a href="../company/contact.html" title="Kontak kami">Kontak kami</a></li>
<li><a href="../company/career.html" title="Karir">Karir</a></li>
</ul>
</div>
<div class="footer-content">
<h3 itemprop="name">Legal</h3>
<ul>
<li><a href="../legal/terms.html" title="Syarat & Ketentuan">Syarat & Ketentuan</a></li>
<li><a href="../legal/policy.html" title="Kebijakan Pengguna">Kebijakan pengguna</a></li>
<li><a href="../legal/dmca.html" title="DMCA">DMCA</a></li>
</ul>
</div>
<div class="footer-content">
<h3>Sosmed</h3>
<ul>
<li><a href="#" title="Instagram">Instagram</a></li>
<li><a href="#" title="Tiktok">Tiktok</a></li>
<li><a href="#" title="Facebook">Facebook</a></li>
</ul>
</div>
</div>
<div class="credit-footer">
<p>&copy; <span itemprop="copyrightHolder" itemscope itemtype="https://schema.org/Organization">
<a href="https://www.instagram.com/azzabuza" title="Azza Kreatif Digital Studio">
<span itemprop="name">Azza Kreatif Digital Studio</span>
</a>
</span>Hak cipta dilindungi undang-undang.</p>
</div>
