<div class="head" id="headweb">
<a href="/" class="nav-logo" title="IDrekber">
<img src="../asset/image/logo.png" alt="IDRekber" loading="lazy"></a>
<div class="header-menu">
<ul>
<li><a href="#" title="Transaksi">Transaksi</a></li>
<li><a href="#" title="Biaya">Biaya</a></li>
<li><a href="#" title="Lapor">Lapor</a></li>
</div>
<div class="nav-icon">
<label class="nav-menu" for="navigationmenu" title="Navigation menu">
<svg class="line" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="none" stroke="currentColor">
<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/>
</svg>
</label>
</div>
</div>
<input class="checkmenu" id="navigationmenu" type="checkbox"/>
<div class="nav-content">
<div class="nav-hero" itemscope itemtype="http://schema.org/SiteNavigationElement">
<h3 itemprop="name">Program</h3>
<ul>
<li>
<a href="#" title="Webinar" itemprop="url">Webinar</a>
</li>
<li>
<a href="#" title="Donasi" itemprop="url">Donasi</a>
</li>
<li>
<a href="#" title="Loyalitas" itemprop="url">Bazar</a>
</li>
</ul>
</div>
</div>
